:root{
  --background-color:  #c9e9f4;
  --white: #fff;
  --color: #000;
  --testing: 0px solid red;
}


.container{
  
  border: var(--testing);
  height: 50vh;
}

.todo{
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid green ;
  width: 30%;
  padding: 20px 10px;
  background-color: var(--background-color);
}

.input{
  padding: 7px 15px;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.cta{
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background: var(--color);
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}

.cta:hover{
  background-color: var(--white);
  color: var(--color);
}

